body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9DEC9;
}
.menubar{
    color: white;
    background-color: #3D0C11;
    padding: 100px 50px 0px;;
}

.menulist{
    color:white;
    background-color: #141E46;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: center;
    gap: 0.5rem;
    list-style-type: none;
    padding: 1rem 2rem;
}

nav a, div a {
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.gildas {color:black;
font-weight: bolder;
text-shadow: #3D0C11 ;
background-color: #FD8D14;
padding: 1rem 2rem;}

.menulist a:hover{color: red; background-color: #0802A3;}
.gildas a:hover{color: yellow; background-color: red;}
div a:hover{color: yellow;}
main{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

article{width: 70%; height: auto; background-color: #219C90; font-size: 1.2rem; border-radius: 1.5rem; padding: 1.2rem 1rem;}
article h5,h6{ font-size: 1.2rem;}
h5{background-color: #D80032; color: white; padding: 0.5rem 0.5rem;}
aside{display: flex; flex-direction: column; justify-content: center; width: 25%; height: auto; background-color: #219C90; border-radius: 1.5rem;}
p{text-align: justify;}

footer{
    background-color: #3D0C11;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 1rem;
}

.containerlink a{ display: flex; padding:1rem 2rem;}

.profilecon{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 5rem 0rem 5rem;
   gap: 0rem;
}

.skills li{background-color: #F78CA2;  
    color: black;
padding: 0.5rem 1rem; display: inline-flex; border-radius: 1rem;
margin: 0.2rem;}

.skills div{display: inline-flex;
flex-direction: column;
flex-wrap: wrap;} 

.gambarskill img{width: 7rem; border-style: double; border-radius: 10rem;
margin-left: 5rem;
margin-top: 2rem;
}

.skills h3{
    color: white; background-color:#3D0C11 ; text-align: center; padding: 2rem 2rem; font-size: 2rem;
}

.skills h6{ padding:1rem 2rem; white; background-color: #D80032; font-size: 1.25rem; text-align: center; border-style: dashed; border-width: 0.25rem;}

.profile{width: 15rem; border-style: double; border-radius: 10rem;}
@media screen and (max-width: 1200px) {
    main{flex-flow:column nowrap}
    main aside {align-self: center;}
  }
  
  @media screen and (max-width: 768px) {
   nav-ul{justify-content: center;}
   main aside {align-self: stretch;}
  }